<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OsloBySykkel</title>
  
    <script src="client.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="desktop.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
  <header>
    <h1>
      OsloBySykkel - 
      <span id="subtitle">Desktop</span>
    
    </h1>
    <nav>
      <button id="toggle" onclick="buttonPressed(this)">List/Map</button>
      <ul>
          <li><button onclick="buttonPressed(this)">Stations</button></li>
          <li><button onclick="buttonPressed(this)">Availability</button></li>
          <li><button onclick="buttonPressed(this)">Status</button></li>
      </ul>
    </nav>
  </header>

  <main id="content">
    <img class="loading" src="https://cdn.glitch.com/9a3ab23f-c34f-4bde-b0cc-6d1372c6aa26%2Fajax-loader.gif?1521019304323" alt="loading">
  </main>
  
  <footer>
    Made by Hoang Bao Ngo
  </footer>
</body>
</html>