<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="./scripts/client.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/all.css">
    
</head>
<body>
    <header>
        OsloBySykkel
        <nav>
            <a href="./views/stations.html">Stations</a>
        </nav>
    </header>
    
    <button class="stations" onclick="buttonPressed(this)">Stations</button>
    <button class="stations/availability" onclick="buttonPressed(this)">Bikes Available</button>
    <button class="status" onclick="buttonPressed(this)">Operational status</button>

    <div class="content"></div>
</body>
</html>