<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="client.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    
</head>
<body>
    <header>
        OsloBySykkel - Stations
        <nav>
            <a href="/">Home</a>
            <a href="/stations">Stations</a>
            <a href="/availability">Availability</a>
            <a href="/stations">Status</a>            
        </nav>
    </header>

    <div class="content"></div>
</body>
</html>